// colors
$bg_color: #19151b;
$fg_color: #F8F8F2;
$fg_faded: #F8F8F2CF;
$fg_dark: #9969e7;
$fg_nav: #9969e7;

$bg_panel: #1f1d23;
$bg_elements: #121212;
$bg_overlays: #241c29;
$bg_hover: #2f2932;

$grey: #888889;
$dark_grey: #404040;
$darker_grey: #2f2932;
$darkest_grey: #2b2230;
$border_grey: #462d41;

$accent: #9969e7;
$accent_light: #dec9ff;
$accent_dark: #8A3731;
$accent_border: #9969e7;

$play_button: #D8574D;
$play_button_hover: #9969e7;

$more_replies_dots: #AD433B;
$error_red: #420A05;

$verified_blue: #6d5686;
$icon_text: $fg_color;

$tab: $fg_color;
$tab_selected: $accent;

$shadow: rgba(0,0,0,.6);
$shadow_dark: rgba(0,0,0,.2);

//fonts
$font_0: Helvetica Neue;
$font_1: Helvetica;
$font_2: Arial;
$font_3: sans-serif;
$font_4: fontello;
