body {
  --bg_color: #19151b;
  --fg_color: #F8F8F2;
  --fg_faded: #F8F8F2CF;
  --fg_dark: #9969e7;
  --fg_nav: #9969e7;
  --bg_panel: #1f1d23;
  --bg_elements: #121212;
  --bg_overlays: #241c29;
  --bg_hover: #2f2932;
  --grey: #888889;
  --dark_grey: #404040;
  --darker_grey: #2f2932;
  --darkest_grey: #2b2230;
  --border_grey: #462d41;
  --accent: #9969e7;
  --accent_light: #dec9ff;
  --accent_dark: #a8002a;
  --accent_border: #9969e7;
  --play_button: #a8002a;
  --play_button_hover: #9969e7;
  --more_replies_dots: #a8002a;
  --error_red: #a8002a;
  --verified_blue: #6d5686;
  --icon_text: #F8F8F2;
  --tab: #F8F8F2;
  --tab_selected: #9969e7;
  --profile_stat: #F8F8F2;
}